.projects-container {
  h1 {
    margin-bottom: 30px;
    @media (max-width: 650px) {
      margin-bottom: 15px;
    }   
  }
  p {
    margin-bottom: 30px;
    span {
      font-style: italic;
    }
  }
  iframe {
    width: 100%;
    height: 600px;
  }
}