.banner {
  width: 100%;
  display: flex;

  a { 
    text-align: center;
    color: #fff;
    font-weight: 500;
    // letter-spacing: 0.5px;
    background: #333;
    font-size: 0.95rem;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 0.5px;
  }
}


// use pop culture data set visualizations with d3
