.banner {
  width: 100%;
  display: flex;

  a { 
    text-align: center;
    color: #fff;
    font-weight: 500;
    background: #333;
    font-size: 0.95rem;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    cursor: pointer;
    @media (max-width: 650px) {
      font-size: 0.9rem;
    }
    @media (max-width: 450px) {
      font-size: 0.8rem;
      padding: 8px 0;
    }
  }
}