.social-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  position: fixed;
  bottom: 30%;
  @media (max-width: 1000px) {
    display: none;
  }

  .icon {
    font-size: 2rem;
    color: #555;
    margin: 12px 0;

    svg {
      padding: 10px 0;
      border-radius: 4px;
      background: #444;
      color: #fff;
      width: 52px;
      border-radius: 15px;
      &:hover {
        background: #000;
        transition: 0.05s;
      }
    }
  }
  .line {
    height: 100px;
    border-right: 2px solid #444;
    width: 1px;
  }
}