.view-container {
  .page-container {
    display: flex;
    flex-direction: row-reverse;

    .content-container {
      min-height: calc(100vh - 154px);
      padding: 100px 40px;
      background: #fff1d0;
      width: 100%;

      > div {
        margin: auto;
        width: 80%;
      }
    }
  }
}