.about-container {
  > div {
    display: flex;
    flex-direction: row;
    @media (max-width: 900px) {
      flex-direction: column-reverse;
    }
    
    .left {
      max-width: 800px;
      margin-right: 50px;

      p {
        font-size: 1.3rem;
        font-weight: 400;
        color: #555;
        margin-top: 15px;
        line-height: 1.5;
        
        a {
          color: #4f6cff;
          text-decoration: underline;
          &:hover {
            color: #1b32a9;
            transition: 0.1s;
          }
        }
      }
    }
    .right {
      @media (max-width: 900px) {
        margin: 25px auto;
      }
      img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
      }
    }
  }
}