.contact-container {
  .contact-methods {
    margin-top: 25px;

    > div {
      margin: 25px 0;
      
      a {
        display: flex;
        width: fit-content;

        svg {
          font-size: 1.6rem;
          padding: 18px 0;
          border-radius: 4px;
          background: #333;
          color: #fff;
          width: 60px;
          @media (max-width: 650px) {
            font-size: 1.2rem;
            padding: 10px 0;
            width: 40px;
          } 
          @media (max-width: 395px) {
            font-size: 1rem;
            padding: 9px 0;
            width: 34px;
          } 
          @media (max-width: 352px) {
            font-size: 0.9rem;
            padding: 6px 0;
            width: 26px;
          } 
        }
        p {
          font-size: 1.6rem;
          margin: 16px 0 0 15px;
          font-weight: 500;
          text-decoration: underline;
          @media (max-width: 650px) {
            font-size: 1.1rem;
            margin: 9px 0 0 12px;
          }
          @media (max-width: 395px) {
            font-size: 1rem;
            margin-top: 7px;
          }
          @media (max-width: 352px) {
            font-size: 0.9rem;
            margin-top: 6px;
          }
        }
        &:hover {
          p {
            color: #ffb644;
            transition: 0.1s;
          }
        }
      }
    }
  }
}